.content {
  padding: 30px;
}

// .form-group {
//   margin-bottom: 20px;
// }

.password-div {
  display: flex;
  padding: 0px;
}

.form-control {
  border-radius: 0;
  box-shadow: none;
  padding: 0.469rem 0.75rem;
  border-color: #eaeaea;
  font-size: 14px;
  min-height: 40px;
}

.form-control-datetime {
  background: #e9ecef;
  font-weight: bold;
  //font-size: large;
  color: #000;
  border-radius: 0;
  box-shadow: none;
  padding: 0.469rem 0.75rem;
  border-color: #eaeaea;
 //min-height: 40px;
}

.display-block {
  display: block;
}

.m-t-20 {
  margin-top: 20px !important;
}

.input,
button {
  outline: none;
}

.submit-btn {
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  min-width: 200px;
  padding: 8px 20px;
  text-transform: uppercase;
}

.btn-primary {
  border-color: transparent;
  background-image: linear-gradient(to left top, #113c7c, #004298, #0046b4, #004ad0, #124beb);
}

.address-div {
  padding: 0px;
}

.gen-label {
  display: block;
  margin-bottom: 18px;
}

@media only screen and (max-width: 767.98px) {
  .page-title {
    padding-top: 10px;
  }

  .card-title {
    font-size: 1.12em;
  }

  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

}

@media only screen and (max-width: 575.98px) {
  .content {
    padding: 15px;
  }

  .page-title {
    font-size: 18px;
  }

  .submit-btn {
    min-width: 150px;
  }

  .password-div {
    display: block;
  }
}
